### Python Data Structures

Boolean
Logical Operators
List
Dictionaries
Comparison
Sets

In [7]:
my_Str='Krish123'

In [8]:
print(my_Str.isalnum())  # True
print(my_Str.isalpha())  # False
print(my_Str.isdigit())  # False

True
False
False

## Lists

List is mutable, changeable, it will have a specific sequence.

In [1]:
type([])

list

In [2]:
lst_example = [1, 2, 3, 4, 5]
print(type(lst_example))  # <class 'list'>

<class 'list'>

In [4]:
lst_multi_type = [1, "Hello", 3.14, True]
print(type(lst_multi_type))  # <class 'list'>
print(lst_multi_type)  # [1, 'Hello', 3.14, True

<class 'list'>
[1, 'Hello', 3.14, True]

In [6]:
len(lst_multi_type)  # 4

4

In [7]:
lst_multi_type.append("New Element")
print(lst_multi_type)  # [1, 'Hello', 3.14, True

[1, 'Hello', 3.14, True, 'New Element']

In [9]:
lst_multi_type[0]

1

In [10]:
lst_multi_type[4]

'New Element'

In [11]:
lst_multi_type[2:4]

[3.14, True]

## Insert

In [12]:
lst_multi_type.insert(2, "Inserted Element")
print(lst_multi_type)  # [1, 'Hello', 'Inserted Element', 3

[1, 'Hello', 'Inserted Element', 3.14, True, 'New Element']

In [13]:
lst_multi_type.append("New Element2")
print(lst_multi_type)  # [1, 'Hello', 'Inserted Element', 3.14, True, 'New Element2']

[1, 'Hello', 'Inserted Element', 3.14, True, 'New Element', 'New Element2']

In [14]:
new_lst = ['Hello', 'World']

In [ ]:
lst_multi_type.append(new_lst)

In [16]:
print(lst_multi_type)  # [1, 'Hello', 'Inserted Element', 3.14, True, 'New Element2', ['Hello', 'World']]

[1, 'Hello', 'Inserted Element', 3.14, True, 'New Element', 'New Element2', ['Hello', 'World']]

## Various operations that can be performed in List Object

In [17]:
lst = [1, 2, 3, 4, 5]
print(lst[0])    # 1

1

In [18]:
sum(lst)

15

In [19]:
lst*5

[1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5]

In [20]:
lst

[1, 2, 3, 4, 5]

## Pop()

In [21]:
lst.pop()

5

In [22]:
lst

[1, 2, 3, 4]

In [23]:
lst.pop(0)

1

In [24]:
lst

[2, 3, 4]

## Count() - Calculates total occurrence of a given element in a list.

In [25]:
lst_count = [1, 2, 2, 3, 4,4, 2, 5]
lst_count.count(2)  # 3

3

In [26]:
len(lst_count)

8

In [28]:
min(lst_count)  # 1

1

In [29]:
max(lst_count)  # 5

5

## Sets - A set is an unordered collection that is iteratable, immutable and has no duplicate elements.

In [31]:
set_var = set()
print(set_var)
print(type(set_var))  # <class 'set'>

set()
<class 'set'>

In [34]:
set_var={1, 2, 3, 4, 5, 1, 2, 3}

In [35]:
set_var

{1, 2, 3, 4, 5}

In [36]:
set_var={"Avengers", "Batman", "Superman", "Spiderman", "Batman"}
set_var

{'Avengers', 'Batman', 'Spiderman', 'Superman'}

In [37]:
set_var.add("Hulk")

In [38]:
set_var

{'Avengers', 'Batman', 'Hulk', 'Spiderman', 'Superman'}

In [39]:
set1 = {"Apple", "Banana", "Cherry"}
set2 = {"Banana", "Dragonfruit", "Elderberry"}

In [40]:
set2.intersection(set1)  # {'Banana'}

{'Banana'}

In [41]:
set2.difference(set1)  # {'Dragonfruit', 'Elderberry'}

{'Dragonfruit', 'Elderberry'}

In [42]:
set1.difference(set2)  # {'Apple', 'Cherry'}

{'Apple', 'Cherry'}

In [43]:
set1.difference_update(set2)

In [44]:
set1

{'Apple', 'Cherry'}

## Dictionaries

A dictionary is a collection which is unordered, changeable and indexed.

In [45]:
dic={}
print(type(dic))  # <class 'dict'>

<class 'dict'>

In [46]:
set_dict={"Name":"John", "Age":30, "City":"New York"}
print(set_dict)  # {'Name': 'John', 'Age': 30, '

{'Name': 'John', 'Age': 30, 'City': 'New York'}

In [47]:
set_dict['Name']

'John'

In [49]:
for x in set_dict:
    print(set_dict[x])

John
30
New York

In [50]:
for x in set_dict:
    print(x)

Name
Age
City

In [51]:
for x in set_dict.values():
    print(x)

John
30
New York

In [52]:
for x in set_dict:
    print(x,set_dict[x])

Name John
Age 30
City New York

In [53]:
set_dict['Title']="Developer"

In [54]:
for x in set_dict:
    print(x,set_dict[x])

Name John
Age 30
City New York
Title Developer

## Nested Dictionary

In [55]:
car1_model1 = {'Mecredes':2010}
car2_model2 = {'BMW':2015}
car3_model3 = {'Audi':2020}

In [56]:
car_type = {
    'Car1':car1_model1,
    'Car2':car2_model2,
    'Car3':car3_model3}

In [57]:
print(car_type)

{'Car1': {'Mecredes': 2010}, 'Car2': {'BMW': 2015}, 'Car3': {'Audi': 2020}}

In [59]:
print(car_type['Car1'])

{'Mecredes': 2010}

In [60]:
print(car_type['Car1']['Mecredes'])

2010